body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 40px;
}

.jumbotron {
    opacity: 0.7;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

#header-img {
    height: 220px;
    width: 260px;
    border-radius: 5px;
}

.card-height {
    height: 350px; 
    overflow-y: scroll;
  }